<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
{% extends 'base.html' %}
{% block text %}
{% block content %}
{% load static %}
  <body>
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        <h1>Группа поклонников А.С.Пушкина.</h1>
        <p>
          Я помню чудное мгновенье…
        </p>
        <article>
          <ul>
            <li>
              Автор: А.С.Пушкин
            </li>
            <li>
              Дата публикации: 1825 год.
            </li>
          </ul>      
          <p>
            Я помню чудное мгновенье:<br>
            Передо мной явилась ты,<br>
            Как мимолетное виденье,<br>
            Как гений чистой красоты.<br>
            <br>
            В томленьях грусти безнадежной,<br>
            В тревогах шумной суеты,<br>
            Звучал мне долго голос нежный<br>
            И снились милые черты.<br>
            <br>
            Шли годы. Бурь порыв мятежный<br>
            Рассеял прежние мечты,<br>
            И я забыл твой голос нежный,<br>
            Твои небесные черты.<br>
            <br>
            В глуши, во мраке заточенья<br>
            Тянулись тихо дни мои<br>
            Без божества, без вдохновенья,<br>
            Без слез, без жизни, без любви.<br>
            <br>
            Душе настало пробужденье:<br>
            И вот опять явилась ты,<br>
            Как мимолетное виденье,<br>
            Как гений чистой красоты.<br>
            <br>
            И сердце бьется в упоенье,<br>
            И для него воскресли вновь<br>
            И божество, и вдохновенье,<br>
            И жизнь, и слезы, и любовь.<br>
          </p>         
        </article>
        <hr>
        <article>
          <ul>
            <li>
              Автор: Лев Толстой
            </li>
            <li>
              Дата публикации: 29 июля 1854
            </li>
          </ul> 
          <p>
            Исправленіе мое идетъ прекрасно. Я чувствую, какъ отношенія мои становятся пріятны и легки 
            съ людьми всякаго рода, съ тѣхъ поръ какъ я рѣшился быть скромнымъ и убѣдился въ томъ, 
            что казаться всегда величественнымъ и непогрѣшнымъ вовсе не есть необходимость. Я очень 
            веселъ. И дай Богъ, какъ мнѣ кажется, — чтобы веселье это происходило отъ самаго меня; 
            отъ желаній всѣмъ быть пріятнымъ, скромности, необидчивости и внимательности за вспышками. 
            — Тогда бы я всегда былъ веселъ и почти всегда счастливъ. 
            Утромъ рѣшилъ было сидѣть дома, позаниматься, но дѣло не пошло и не утерпѣлъ вечеромъ, 
            чтобы не пойдти пошляться. Идя отъ ужина, мы съ Тишк[евичемъ] остановились у бардели и насъ 
            накрылъ Крыжановскій, что, признаюсь, было мнѣ не совсѣмъ пріятно. Упрекаю себя за 
            безхарактерность, что не высидѣлъ дома, и зa праздность цѣлаго дня. Это главный пунктъ. (2)
          </p>      
        </article>
        <hr>
        <article>
          <ul>
            <li>
              Автор: Лев Толстой
            </li>
            <li>
              Дата публикации: 28 июля 1854
            </li>
          </ul> 
          <p>
            Пишу въ самомъ пріятномъ веселомъ расположеніи духа, въ которомъ я провелъ весь вечеръ. 
            Утро читалъ, объѣдался грушами и вмѣсто обѣда ѣлъ сыръ. Несмотря на кутежи у Сталыпина и 
            Сержпутовскаго по случаю полученія наградъ, не завидовалъ, а провелъ день весело. Вечеромъ 
            хватилъ босонож[ку] и выпилъ бокала два шампанскаго съ Шварц[емъ], Вейлеровскимъ [?] и 
            Гембичомъ, потомъ болталъ съ Шубинымъ и съ Сашей Горчаковымъ. — Исключая праздности, 
            днемъ своимъ очень доволенъ. (1)
          </p>
        </article>
        <!-- под последним постом нет линии -->
      </div>  
    </main>
  </body>
</html>
{% endblock %}
{% endblock %}